<?xml version='1.0' encoding='utf-8'?>

<Server port="8105" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

    <Service name="Catalina">
        <Connector port="20850"
                   enableLookups="false"
                   protocol="HTTP/1.1"
                   URIEncoding="UTF-8"
                   compression="on"
                   asyncTimeout="5000"
                   connectionTimeout="5000"
                   acceptCount="100"
                   disableUploadTimeout="false"
                   maxConnections="8192"
                   maxThreads="4096"
                   minSpareThreads="25"
                   tcpNoDelay="true"
                   maxHttpHeaderSize="8192"
                   relaxedQueryChars="^{}[]|&quot;&lt;&gt;"
        />

        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost"  appBase="webapps"
                  unpackWARs="false" autoDeploy="false" deployOnStartup="false">>
                <Context docBase="springboot-base" path="" reloadable="false" />

                <!-- Remote IP Valve -->
                <Valve className="org.apache.catalina.valves.RemoteIpValve"
                       internalProxies="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"
                       remoteIpHeader="x-forwarded-for"
                       proxiesHeader="x-forwarded-by"
                       protocolHeader="x-forwarded-proto" />

                <Valve className="org.apache.catalina.valves.AccessLogValve"
                       directory="/home/younsiktech/logs/springboot/base/${ENV}"
                       renameOnRotate="true"
                       prefix="access-log"
                       suffix=".log"
                       pattern='{"time": "%{yyyy-MM-dd&#39;T&#39;HH:mm:ssZ}t", "X-Forwarded-For": "%{X-Forwarded-For}i", "ip": "%{org.apache.tomcat.remoteAddr}r", "requestTime": "%T", "status": "%s", "size": "%B", "userAgent": "%{User-Agent}i", "referer": "%{Referer}i", "uri": "%U", "method": "%m", "args": "%q", "Accept-Encoding": "%{Accept-Encoding}i"}'
                       requestAttributesEnabled="true"
                       condition="doNotLog"
                       resolveHosts="true"/>

                <Valve className="org.apache.catalina.valves.ErrorReportValve" showReport="false" showServerInfo="false" />

            </Host>
        </Engine>
    </Service>
</Server>